<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add-Form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/e59232f0a1.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <form th:action="@{${song != null} ? '/songs/edit/' + ${song.getId()} : '/songs/add'}" th:method="post">
        <div class="form-group">
            <label for="trackId">Song Track Id</label>
            <input type="text"
                   class="form-control"
                   id="trackId"
                   name="trackId"
                   th:value="(${song} != null ? ${song?.getTrackId()} : '')"
                   required
                   placeholder="Enter song track id"
            >
        </div>

        <div class="form-group">
            <label for="title">Song Title</label>
            <input type="text"
                   class="form-control"
                   id="title"
                   name="title"
                   th:value="(${song} != null ? ${song?.getTitle()} : '')"
                   required
                   placeholder="Enter song title"
            >
        </div>

        <div class="form-group">
            <label for="genre">Song Genre</label>
            <input type="text"
                   class="form-control"
                   id="genre"
                   name="genre"
                   th:value="(${song} != null ? ${song?.getGenre()} : '')"
                   required
                   placeholder="Enter song genre"
            >
        </div>

        <div class="form-group">
            <label for="releaseYear">Song Release Year</label>
            <input type="text"
                   class="form-control"
                   id="releaseYear"
                   name="releaseYear"
                   th:value="(${song} != null ? ${song?.getReleaseYear()} : '')"
                   required
                   placeholder="Enter song release year"
            >
        </div>

        <div class="form-group">
            <label for="albumId">Album</label>
            <select id="albumId" name="albumId" class="form-control">
                <option value="">Select album</option>
                <option th:if="${song} == null"
                        th:each="album : ${albums}"
                        th:value="${album.getId()}"
                        th:text="${album.getName()}"
                >
                </option>
                <option th:if="${song} != null"
                        th:each="album : ${albums}"
                        th:value="${album.getId()}"
                        th:text="${album.getName()}"
                        th:selected="${album.getId() == song?.getAlbum()?.getId()}"
                >
                </option>
            </select>
        </div>
        <button id="submit" type="submit" class="btn btn-primary">Submit</button>
        <a type="button" class="btn btn-secondary" href="/songs">Back to Songs</a>
    </form>
</div>
</body>
</html>