<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Songs Homepage - Welcome to My Music Store</title>
    <style type="text/css">
        body {
            width: 800px;
            margin: auto;
        }
    </style>
</head>
<body>
<header>
    <h1>Welcome to My Music Store</h1>
</header>
<main>
    <h2>Search by Album:</h2>
    <form th:action="@{/songs}" th:method="get">
        <label for="albumId">Album Name:</label>
        <select name="albumId" id="albumId">
            <option value="">---Select album---</option>
            <th:block th:each="album : ${albums}">
                <option th:value="${album.getId()}"
                        th:text="${album.getName()}"
                >
                </option>
            </th:block>
        </select>

        <button type="submit">Filter by Album</button>
    </form>

    <h2>Choose a song:</h2>
    <th:block sec:authorize="hasRole('ADMIN')">
        <a th:href="@{'/songs/add-form'}">
            <i>Add new Song</i>
        </a>
    </th:block>
    <th:block th:if="${error}">
        <p>Bad Request</p>
    </th:block>
    <!-- Display radio buttons for each song,
            the value should be the trackId
            and the displayed text should be Title: <songTitle>, Genre:<genre>, Release Year: <releaseYear> -->
    <form th:action="@{/artists}" th:method="get">
        <div th:each="song : ${songs}">
            <input type="radio" name="songId" th:value="${song.getId()}"/>
            <label>
                Title: <span th:text="${song.getTitle()}"></span>
                Genre: <span th:text="${song.getGenre()}"></span>
                Release Year: <span th:text="${song.getReleaseYear()}"></span>
                Album Name: <span th:text="${song.getAlbum().getName()}"></span>
            </label>

            <th:block sec:authorize="hasRole('ADMIN')">
                <a th:href="@{'/songs/delete/{id}' (id=${song.getId()})}">
                    <i>Delete</i>
                </a>
            </th:block>

            <th:block sec:authorize="hasRole('ADMIN')">
                <a th:href="@{'/songs/edit-form/{id}' (id=${song.getId()})}">
                    <i>Edit</i>
                </a>
            </th:block>
        </div>

        <input type='submit' value='Submit'>
    </form>
</main>

<div>
    <ul>
        <li><a href="/login">Login</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</div>
</body>
</html>