<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Event Booking page - Welcome and choose an Event</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/e59232f0a1.js" crossorigin="anonymous"></script>

    <style type="text/css">
        body {
            width: 800px;
            margin: auto;
        }
    </style>
</head>
<body>
<header>
    <h1>Welcome to our Event Booking App</h1>
    <div>
        <th:block>
            <a th:href="@{/login}" class="btn btn-primary">Login</a>
        </th:block>
        <th:block>
            <form th:action="@{/logout}" method="post" style="display: inline">
                <button type="submit" class="btn btn-danger">Logout</button>
            </form>
        </th:block>
    </div>
</header>

<th:block th:if="${error}">
    <h2>Event not found</h2>
</th:block>
<main>
    <h2>Search for an event:</h2>
    <form th:action="@{/events}" method="get">
        <label for="searchText">Event name contains:</label>
        <input type="text" id="searchText" name="searchText" placeholder="Enter text"><br/><br/>

        <label for="minRating">Minimum rating:</label>
        <input type="number" id="minRating" name="popularityScore" min="1" max="5" placeholder="Enter rating"><br/><br/>

        <button type="submit">Search</button>
    </form>

    <br/>

    <h2>Search by Location:</h2>
    <form th:action="@{/events}" method="get">
        <label for="locationId">Location:</label>
        <select name="locationId" id="locationId">
            <option value="">---Select location---</option>
            <th:block th:each="location: ${locations}">
                <option th:value="${location.id}"
                        th:text="${location.name}"
                ></option>
            </th:block>
        </select>

        <button type="submit">Filter by Location</button>
    </form>

    <br/>

    <th:block sec:authorize="hasRole('ADMIN')">
        <a th:href="@{'/add-event'}"
           class="btn btn-sm btn-info edit-product">
            <i>Add an Event</i>
        </a>
    </th:block>
    <h2>Choose an event:</h2>
    <!-- Display radio buttons for each event,
            the value should be the event name
            and the displayed text should be Name: <event_name>, Description: <event_description>, Rating: <popularity_score> -->
    <form th:action="@{/eventBooking}" method="post">
        <div th:each="event : ${events}">
            <input type="radio"
                   name="selectedEvent"
                   th:value="${event.getName()}"
            >
            <label>
                Name: <span th:text="${event.getName()}"></span>,
                Description: <span th:text="${event.description}"></span>,
                Rating: <span th:text="${event.popularityScore}"></span>
                Location: <span th:text="${event.getLocation()?.getName()}"></span>
            </label>
            <th:block sec:authorize="hasRole('ADMIN')">
                <a th:href="@{'/events/delete/{id}' (id=${event.getId()})}"
                   class="btn btn-sm btn-danger delete-product"
                >
                    <i>Delete</i>
                </a>
            </th:block>
            <th:block sec:authorize="hasRole('ADMIN')">
                <a th:href="@{'/events/edit-form/{id}' (id=${event.getId()})}"
                   class="btn btn-sm btn-info edit-product">
                    <i>Edit</i>
                </a>
            </th:block>
        </div>

        <h2>Choose number of tickets:</h2>
        <input type="number" name="numTickets" min="1" max="10"><br/>
        <br/>
        <input type="submit" value="Submit">
    </form>
</main>
</body>
</html>